<!DOCTYPE html>
<%= render :partial => '/refinery/html_tag' %>
  <% site_bar = render(:partial => '/refinery/site_bar', :locals => {:head => true}) -%>
  <%= render :partial => '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render :partial => '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container">
      <div class="row">
        <div class="ten columns centered">
          <header id="header">
            <%= render :partial => '/refinery/header' -%>
          </header>
          <section id="page">
            <%= yield %>
          </section>
          <footer>
            <%= render :partial => '/refinery/footer' -%>
          </footer>
        </div>
      </div>
    </div>
    <%= render :partial => '/refinery/javascripts' %>
    <div id="share_this">
      <p>Share:</p>
      <span  class='st_twitter_large' ></span><br /><span  class='st_facebook_large' ></span><br /><span  class='st_email_large' ></span>
    </div>
    <script type="text/javascript">
      var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:'714a56ee-4b86-4ea5-a50c-a1064240d801'});</script>
  </body>
</html>
