<!DOCTYPE html>
<%= render :partial => '/refinery/html_tag' %>
  <% site_bar = render(:partial => '/refinery/site_bar', :locals => {:head => true}) -%>
  <%= render :partial => '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render :partial => '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container">
      <div class="row">
        <div class="ten columns centered">
          <header id="header">
            <%= render :partial => '/refinery/header' -%>
          </header>
          <section id="page">
            <%= yield %>
          </section>
          <footer>
            <%= render :partial => '/refinery/footer' -%>
          </footer>
        </div>
      </div>
    </div>
    <div id="myModal" class="reveal-modal">&#160; 
      <form class="nice" action="http://visitor.r20.constantcontact.com/d.jsp" method="post">
        <h3>Sign up for our free email newsletter</h3>
        <div class="row">
          <div class="seven columns">
            <label>Your email address:</label>
            <input type="text" name="ea" class="input-text" />
          </div>
          <div class="three columns" style="margin-top: 12px;">
            <input class="nice blue radius button" type="submit" name="go" value="Join" />
            <input type="hidden" name="llr" value="bmzl6lfab" />
            <input type="hidden" name="m" value="1105280230785" />
            <input type="hidden" name="p" value="oi" />
          </div>
        </div>
      </form>
      <p>We won't share your email address or send you any spam.  You can unsubscribe anytime you wish.</p>
      <a class="close-reveal-modal">×</a>
    </div>

  </body>
</html>
